body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background: linear-gradient(to bottom, white, white, rgba(138, 43, 226,0.5)) ;
    background-size: cover;
    background-position: top;
    height: 100%; /* Tinggi elemen sesuai dengan tinggi viewport */
    width: 100%;
}

a {
    text-decoration: none;
}

.custom-position {
    left: -25px !important;
}

.top-bar {
    position: relative;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(138, 43, 226, 0.5));
    margin: 0;
    box-shadow: 0 0 20px rgba(138, 43, 226,0.5);
    .btn{
        background: rgba(138, 43, 226,0.8);
        color: white;
    }
    .btn:hover{
        background: rgba(138, 43, 226);
    }
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    ul {
        list-style: none;
    }
    .nav-item {
        position: relative;
    }
  
    .nav-link {
        color: #000; /* Warna teks default */
        text-decoration: none; /* Hilangkan underline bawaan */
        padding: 10px 20px;
    }
  
    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: blueviolet;
    }
  
    .nav-link:hover::after,
    .nav-link.active::after {
        width: 100%;
    }
  
    .nav-link:hover, .nav-link.active {
        color: blueviolet;
    }
}

.catatan-kegiatan{
    display: flex;
    justify-content: space-between;
    .kegiatan {
        margin: 0 ;
        height: 100px;
        width: 30%;
    }
}

/* Bagian Utama */
.hero-section {
    min-height: 100vh; /* Ketinggian penuh layar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: #000;
    border-radius: 10px;
}

h4 {
    color: rgba(0, 0, 255,0.8);
}
p {
    color: grey;
    margin: 0;
}

/* Kartu Fitur */
.feature-card {
    padding: 20%;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px; /* Sudut melingkar */
    box-shadow: inset 2px 2px 10px rgba(138, 43, 226, 0.3),
    2px 4px 10px rgba(255, 255, 255, 0.6); 
    img{
        height: 50px;
    }
}
#tentang{
    margin: 0 25%;
}

.mt-4{
    color: #000;
}

.container{
    color: #000;
}
.btn{
    background-color: blueviolet;
}

#log{
    height: 75px;
    width: auto;
}

#ikon {
    max-height: 150px;
    margin: 10px;
}

.footer{
    padding: 50px 0;
    h5 {
        color: darkblue ;
    }
    a {
        color: white;
    }
    background: rgba(137, 43, 226, 0.597);
    img{
        height: 100px;
    }
}